@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: $bg-color;
  min-height: 100vh;
  position: relative;
}
// Navbar
nav {
  padding-right: 20px;
  width: 100%;
  height: 70px;
  z-index: 20;
  @media screen and (max-width: 384px) {
    padding-right: 0;
  }
  .nav-stuff {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    .about-btn{
      width: 150px;
      height: 50px;
      background: #000;
      z-index: 9;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      color: #FFF;
    }
    .Name {
      @media screen and (max-width: 384px) {
        display: none;
      }
    }
    .main-components {
      height: 100%;
      width: 250px;
      @media screen and (max-width: 384px) {
        width: auto;
      }
      @include Center;
      .logo-box {
        width: 70px;
        height: 100%;
        position: relative;
        @include Center;
        img {
          width: 100%;
          position: absolute;
        }
      }
    }
    .direct-links {
      min-width: 40px;
      height: 100%;
      display: flex;
      align-items: center;
      a {
        margin: 0 20px;
        text-decoration: none;
        color: #fff;
        z-index: 20;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}
.getStarted {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  top: 0;
  @media screen and (max-width: 1163px) {
    flex-direction: column;
    @include Center;
  }
  .Slogan {
    width: 50%;
    min-height: inherit;
    @include Center;
    h1 {
      color: #ffffff;
      font-weight: 900;
      font-style: italic;
      font-family: "Poppins", sans-serif;
      font-size: 8rem;
      z-index: 9;
      @media screen and (max-width: 1163px) {
        font-size: 4rem;
      }
    }
  }
  .Authorize {
    width: 50%;
    position: relative;
    z-index: 99;
    @include Center;
    .authorize-button {
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: $main-color;
      width: 280px;
      height: 100px;
      border-radius: 70px;
      margin-right: 20px;
      color: #000;
      cursor: pointer;
      border: 3px solid black;
      font-size: 1.1em;
      font-weight: 900;
      transition: 0.5s ease;
      z-index: 99;
      @media screen and (max-width: 1163px) {
        height: 60px;
      }
      &:hover {
        border-color: $main-color;
        border-width: 5px;
      }
      .spotify-logo {
        width: 70px;
        height: 100%;
        border: 1px solid blue;
        @include Center;
        position: relative;
        img {
          width: 100%;
        }
      }
    }
  }
}
.Waves {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

// Non-Special
::-moz-selection {
  background: $main-color;
  color: #000;
}

::selection {
  background: $main-color;
  color: #000;
}
.about-page {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  color: #fff;
  a{
    color: $main-color;
    text-decoration: underline;
  }
  .img-container {
    max-width: 500px;
    img {
      width: 100%;
    }
  }
}

.main-text{
padding: 0 30px;
margin-bottom: 80px;
}

main{
  width: 100%;
  text-align: center;
}

.strong{
  font-weight: bold;
  font-style: italic;
  color: $main-color;
}
.typescript{
  color: #314c75;
}
.react{
  color: #5dfff1;
}
.deezer{
  color: #ff0162;
}

.main-contributor{
  @include Center;
  transform: translateY(50px);
  width: 100%;
  text-align: center;
  @media screen and(max-width: 600px){
    flex-direction: column;
  }
  .profile-img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 20px;
    img{
      width: 100%;
    }
  }
}