@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1B1B1B;
  min-height: 100vh;
  position: relative;
}

nav {
  padding-right: 20px;
  width: 100%;
  height: 70px;
  z-index: 20;
}

@media screen and (max-width: 384px) {
  nav {
    padding-right: 0;
  }
}

nav .nav-stuff {
  max-width: 900px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 384px) {
  nav .nav-stuff .Name {
    display: none;
  }
}

nav .nav-stuff .main-components {
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 384px) {
  nav .nav-stuff .main-components {
    width: auto;
  }
}

nav .nav-stuff .main-components .logo-box {
  width: 70px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-stuff .main-components .logo-box img {
  width: 100%;
  position: absolute;
}

nav .nav-stuff .direct-links {
  min-width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-stuff .direct-links a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  z-index: 20;
}

nav .nav-stuff .direct-links a:hover {
  color: #0BFF9F;
}

.getStarted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  top: 0;
}

@media screen and (max-width: 1163px) {
  .getStarted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.getStarted .Slogan {
  width: 50%;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getStarted .Slogan h1 {
  color: #ffffff;
  font-weight: 900;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  z-index: 9;
}

@media screen and (max-width: 1163px) {
  .getStarted .Slogan h1 {
    font-size: 4rem;
  }
}

.getStarted .Authorize {
  width: 50%;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getStarted .Authorize .authorize-button {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #0BFF9F;
  width: 280px;
  height: 100px;
  border-radius: 70px;
  margin-right: 20px;
  color: #000;
  cursor: pointer;
  border: 3px solid black;
  font-size: 1.1em;
  font-weight: 900;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 99;
}

@media screen and (max-width: 1163px) {
  .getStarted .Authorize .authorize-button {
    height: 60px;
  }
}

.getStarted .Authorize .authorize-button:hover {
  border-color: #0BFF9F;
  border-width: 5px;
}

.getStarted .Authorize .authorize-button .spotify-logo {
  width: 70px;
  height: 100%;
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.getStarted .Authorize .authorize-button .spotify-logo img {
  width: 100%;
}

.Waves {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

::-moz-selection {
  background: #0BFF9F;
  color: #000;
}

::selection {
  background: #0BFF9F;
  color: #000;
}

.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #fff;
}

.about-page a {
  color: #0BFF9F;
  text-decoration: underline;
}

.about-page .img-container {
  max-width: 500px;
}

.about-page .img-container img {
  width: 100%;
}

.main-text {
  padding: 0 30px;
  margin-bottom: 80px;
}

main {
  width: 100%;
  text-align: center;
}

.strong {
  font-weight: bold;
  font-style: italic;
  color: #0BFF9F;
}

.typescript {
  color: #314c75;
}

.react {
  color: #5dfff1;
}

.deezer {
  color: #ff0162;
}

.main-contributor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main-contributor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-contributor .profile-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 20px;
}

.main-contributor .profile-img img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */