* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.createPlaylist {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 9;
}

.createPlaylist .image-input {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 100px;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #1f1f1f;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
  border-radius: 10px;
  padding: 0 20px;
}

.createPlaylist .image-input input {
  background: #1f1f1f;
  border: 2px solid #0BFF9F;
  outline: none;
  border-radius: 3px;
  color: #fff;
  width: 100%;
}

.createPlaylist .image-input button {
  background: #0BFF9F;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.createPlaylist .createPlayList-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 600px;
  background: #383838;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
  position: relative;
}

.createPlaylist .createPlayList-container .text-bar {
  position: relative;
  text-align: center;
  width: 100%;
}

.createPlaylist .createPlayList-container .text-bar h3 {
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
}

.createPlaylist .createPlayList-container .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 250px;
  background: #1f1f1f;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.createPlaylist .createPlayList-container .circle img {
  width: 100%;
}

.createPlaylist .createPlayList-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 100%;
  padding: 0 40px;
}

.createPlaylist .createPlayList-container form input {
  width: 100%;
  background: #1f1f1f;
  border: 3px solid #0BFF9F;
  height: 40px;
  border-radius: 9px;
  outline: 2px solid #0BFF9F;
  color: #fff;
}

.createPlaylist .createPlayList-container .save-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 50px;
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
}

.createPlaylist .createPlayList-container .save-container button:nth-child(1) {
  background: #000;
  color: #fff;
}

.createPlaylist .createPlayList-container .save-container button {
  width: 150px;
  height: 50px;
  background: #0BFF9F;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 600;
  font-style: italic;
  font-size: 1.1em;
}
/*# sourceMappingURL=createPlaylist.css.map */