@import "../../Landing/scss/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Profile-Navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 80px;
  .home-button{
    @include Center;
    cursor: pointer;
    width: 170px;
    height: 40px;
    background: $main-color;
    border-radius: 50px;
    .fa-home{
      margin-right: 15px;
    }
  }
  .Redirect-Home {
    display: flex;
    align-items: center;
    cursor: pointer;
    h3 {
      margin-left: 20px;
      font-weight: bolder;
      color: $main-color;
    }
    .img-container {
      position: relative;
      width: 70px;
      height: 70px;
      @include Center;
      img {
        width: 100%;
      }
    }
  }
  .Redirect-Profile {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    width: 200px;
    height: 40px;
    background: #383838;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      background: #414141;
    }
    .img-and-Profile {
        display: flex;
        align-items: center;
      .profile-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      p{
          margin-left: 20px;
          color: #FFF;
      }
    }
    .triangle{
        width: 20px;
        height: 20px;
        background: #FFF;
        clip-path: polygon(0 0, 0% 100%, 70% 50%);
        border-radius: 7px;
        transition: 0.5s;
        &.active{
            transform: rotate(90deg);
        }
    }
  }
}