@import "../../Landing/scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playlist-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-shadow: inset 0 0 20px;
  border-radius: 10px;
  gap: 10px 0;
  overflow: hidden;
  .playlist-info {
    @include Center;
    width: 100%;
    height: 300px;
    background: #383838;
    border-radius: 20px;
    border: 3px solid #0bff9f;
    padding: 0 10rem;
    .wrapper {
      display: flex;
      align-items: center;
      height: 200px;
      width: 200px;
      width: 100%;
      height: 100%;
      //! Needs to be fixed img shrinking issue
      .playlist-img {
        height: 250px;
        width: 250px;
        border-radius: 20px;
        overflow: hidden;
        object-fit: scale-down;
        object-position: 0 0; /*top left position (optional)*/
        img {
          width: 100%;
        }
      }
      .playlist-main-info {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        margin-left: 20px;
        height: 250px;
        h1 {
          color: #fff;
          font-weight: bolder;
          font-style: italic;
          font-size: 7rem;
        }
      }
    }
  }
  .Playlist_Song {
    display: flex;
    width: 100%;
    position: relative;
    height: 60px;
    background: #383838;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    .song-main-info {
      display: flex;
      align-items: center;
      gap: 0 10px;
      height: 100%;
      width: 100%;
      #index,
      #img-box {
        @include Center;
        height: 100%;
        flex-basis: 60px;
      }
      #index{
          height: calc(100% - 10px);
          border-right: 1px solid #1f1f1f;
      }
      #index .triangle {
        width: 15px;
        height: 15px;
        background: #fff;
        display: none;
        clip-path: polygon(0 0, 0% 100%, 70% 50%);
        transform: translate(4px, -1px);
        transition: all .3s ease .15s;
        opacity: 0;
      }
      #img-box {
        position: relative;
        border-radius: 9px;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      #song-name {
        display: inherit;
        align-items: inherit;
        height: 100%;
        flex-grow: 1;
        overflow-wrap: break-word;
      }
    }
    &:hover {
      background: #3d3d3d;
    }
    &:hover > .song-main-info #index p {
      display: none;
    }
    &:hover > .song-main-info #index .triangle {
      display: block;
    opacity: 1;
    }
    .options {
      flex-basis: 60px;
      height: 100%;
    }
  }
}
